.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: 'Raleway';
  font-style: normal;
  height: 100vh;
}

@media (max-width: 650px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}